<style>
    .centro {
        text-align: block;
        align-items: block
    }

    .bgcolorheadercard {
        background-color: #5633b8;
        ;
    }
</style>



<div class="container">
    <div class="col-md-4" *ngFor="let producto of productos">
        <div class="card text-center" style="width: 12rem;">
            <div class="card-header bgcolorheadercard text-white d-flex justify-content-between align-items-center">
                <b>{{producto.nombre}}</b>
                <button class="btn btn-outline-light" (click)="borrarProducto(producto.idArticulo)">
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
            <div class="card-body" style="width: 12rem; margin-bottom: 0rem;">
                <img src="{{producto.imagen}}" class="card-img-top" style="box-sizing: content-box;">
                <p>Categoria: {{ producto.categoria}}</p>
                <p>Precio: {{ producto.precio}}</p>
                <p>Disponibles: {{ producto.stock}}</p>
                <p>{{producto.descripcion}} </p>

                <a href="#" (click)="addCarro(producto)" class="btn btn-outline-success btn-block" id="carro">
                    <i class="fas fa-cart-arrow-down"></i> Comprar</a>
                <a routerLink="./carro" class="btn btn-outline-warning btn-block" id="irCarro">
                    Ver mi <i class="fas fa-shopping-cart"></i></a>
            </div>
            <!-- <app-cart *ngIf="openCart"></app-cart> -->
        </div>
    </div>
</div>