
<style>
    .previous {
  float: left;
  }
  
  .next {
  float: right;
  }
  </style>
  
  <div class="col-md-6 container" >
  
  <div class="table-responsive-lg table-light">
    <table class="table table-bordered table-hover ">
      <thead>
        <tr>
          <th scope="col">idArticulo</th>
          <th scope="col">categoria</th>
          <th scope="col">Precio</th>
          <th scope="col">Nombre</th>
          <th scope="col">descuento</th>
          <th scope="col">stock</th>
          <th scope="col">descripcion</th>
      </tr>
      </thead>
      <tbody *ngFor="let producto of productos">
        <tr>        
          <td>{{ producto.idArticulo}}</td>
          <td>{{ producto.nombre}}</td>
          <td>{{ producto.precio}}</td>
          <td>{{ producto.nombre}}</td>
          <td>{{ producto.descuento}}</td>
          <td>{{ producto.stock}}</td>
          <td>
            <div class="btn-group">
            
                    <button [routerLink]="['/usuarios/edit',producto.cedula]" type="button" class="btn btn-info "  ><i class="far fa-edit" aria-hidden="false"></i>Edit</button>
                 
                    <button type="button" class="btn btn-danger" (click)="deleteproducto(producto.cedula)" ><i class="far fa-trash-alt"></i></button>            
            </div>    
          </td>
          
          
        </tr>
        
      </tbody>
    </table>
  </div>
  </div>