<div class="container">
    <div class="container-fluid">
        <div class="paneladmin shadow">
            <form id="productForm">
                <div class="row">
                    <div class="col">
                        <div class="input-group-prepend float-left">
                            <span class="input-group-text" id="basic-addon1">Dirección de Domicilio:</span>
                            <input type="text" name="direccion" class="form-control" id="direccion" required>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <div class="input-group-prepend float-left">
                            <span class="input-group-text" id="basic-addon1">Metodo de Pago:</span>
                            <input type="text" name="metodoPago" class="form-control" id="metodoPago" required>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <div class="input-group-prepend float-left">
                            <span class="input-group-text" id="basic-addon1">Valor de Domicilio:</span>
                            <input type="text" name="domicilio" class="form-control" id="domicilio" value="5000" disabled>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-block" type="button"><i class="fa fa-arrow-circle-left"
                                aria-hidden="true"></i> Descartar</button>
                    </div>
                    <div class="col-md-2">
                        <button id="guardar"
                            class="btn btn-success btn-block"><i class="fa fa-floppy-o" aria-hidden="false"></i>
                            Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>